@import 'colors';

#datepicker {
    width: 200px;
    height: 35px;
}

.thumbnail {
	height: 220px;
	text-align: center;
	overflow: auto;
	color: $lightText;
    font-size: 11px;
    cursor: pointer;
}

.navMargin {
	margin-bottom: 0;
}

#sidebar-wrapper {
    width: 100%;
    height: 100vh;
    float: left;
    min-width: 426px;
    color: $sidebarText;
    overflow: auto; 
}


#sideContainer {
	padding-left: 0;
}

#areaHolder {
    padding-top: 5px;
}