@import 'colors';

body {
	background-color: $lightblue;
}

.area-border {
    -webkit-box-shadow:inset 0px 0px 0px 15px #000;
    -moz-box-shadow:inset 0px 0px 0px 5px #000;
    box-shadow:inset 0px 0px 0px 5px #000;
}

.thumbnail {
	height: 250px;
	text-align: center;
	overflow: auto;
	color: $lightText;
	font-size: 11px;
}

.navMargin {
	margin-bottom: 0;
}

#sidebar-wrapper {
    height: 755px; 
    background-color: $sidebar;
    width: 30%;
    float: left;
    color: $sidebarText;
}
