@import 'colors';
@import 'cards'; 
@import 'attractions'; 
@import 'layout';
@import 'variables';
@import '../lib/node_modules/pikaday/scss/pikaday.scss';

body {
	background-color: $lightblue;
}

.area-border {
    -webkit-box-shadow:inset 0px 0px 0px 15px #000;
    -moz-box-shadow:inset 0px 0px 0px 5px #000;
    box-shadow:inset 0px 0px 0px 5px #000;
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
