@import 'colors';

body {
	background-color: $lightblue;
}

.area-border {
	border: solid 2px $border;
}


.navMargin {
	margin-bottom: 0;
}

#sidebar-wrapper {
    height: 755px; 
    background-color: $sidebar;
    float: left;
    color: $sidebarText;
}
